.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user/CD132A3E/sources/prop/7F060EA2
.Rproj.user/CD132A3E/sources/session-8d65864b/9B0C8AC0
.Rproj.user/CD132A3E/sources/session-8d65864b/9B0C8AC0-contents
